@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Calendar customization */
.rbc-calendar {
  background-color: white;
  border-radius: 0.75rem;
}

.rbc-header {
  padding: 8px;
  font-weight: 600;
  background-color: #f3f4f6;
}

.rbc-event {
  border-radius: 4px;
  padding: 4px 8px;
}

.event-active {
  background-color: #34D399 !important;
}

.event-inactive {
  background-color: #F87171 !important;
}

.rbc-today {
  background-color: #EFF6FF;
}

