.bgdon{
    background-image: url('../donBG.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

}

.donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f0f2f5, #dde1e7);
  }
  
  .donate-card {
    width: 900px;  /* Increased width */
    padding: -5px; /* Adjusted padding */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-height: 400px; /* Decreased height */
}

  .donate-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }
  
  .donate-subtitle {
    text-align: center;
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .ant-input {
    border-radius: 8px;
    height: 40px;
  }
  
  .ant-btn-primary {
    background-color: #1890ff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .ant-btn-primary:hover {
    background-color: #0056b3;
  }
  